$red: #DA2128;

*{
	outline: none;
	box-sizing: border-box;
}
*::selection{
	background-color: $red;
}
body {
	margin: 0;
	font: 16px "Open Sans", Helvetica, Arial, sans-serif;
}
a {
  color: #000;
}
button{
	cursor: pointer;
	transition: .1s;
}
input, select {
	padding: 5px;
	// text-align: center;
	// border-radius: 5px;
	outline: white;
	border: none;
	border-bottom: 1px solid #aaa;
	border-top: 1px solid rgba(0,0,0,0);
	box-sizing: border-box;
	min-height: 40px;
	&:focus{
		border-bottom: 1px solid #000;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea{
	border: 1px solid #aaa;
	padding: 15px;
	&:focus{
		border: 1px solid black;
	}
}
svg{
	display:block;
}
@import './components/custom.scss';
@import './components/login.scss';
@import './components/register.scss';
@import './components/svg.scss';
@import './components/upgrade.scss';
@import './components/news.scss';
@import './components/gallery.scss';
@import './components/comingsoon.scss';
@import './components/does.scss';

// rooms
@import './components/room_main.scss';
@import './components/room_main_guestbook.scss';
@import './components/room_main_event.scss';
@import './components/room_security.scss';
@import './components/room_garage.scss';
@import './components/room_guest.scss';
@import './components/room_personal.scss';
@import './components/room_family.scss';
@import './components/room_pool.scss';
@import './components/room_garden.scss';
@import './components/room_gym.scss';
@import './components/room_children.scss';
@import './components/room_amphi.scss';
@import './components/room_office.scss';
@import './components/room_kitchen.scss';
@import './components/room_studio_music.scss';
@import './components/room_studio_visual.scss';

// MAIN MENU TRIGGER
.main-menu-trigger{
	position: fixed;
	top: 15px;
	z-index: 999;
	user-select: none;
	transition: .1s;
	&:hover{
		transform: scale(1.1);
	}
	&:active{
		transform: scale(0.9);
	}
}
.trigger-info{
	position: fixed;
	top: 55px;
	font-size: 0.9em;
	display: none;
	cursor: default;
	transition: .1s;
	background-color: #FFF;
	padding: 5px;
	z-index: 99;
}
.map-trigger{
	right: 75px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	padding: 5px 8px 2px 5px;
	img {width: 30px;}
	&:hover{
		background-color: rgba(255, 255, 255, 0.9);
	}
}
.map-trigger-info {
	right: 66px;
	width: 60px;
}
.logout-trigger{
	right: 15px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	padding: 5px 5px 0 5px;
	cursor: pointer;
	img {width: 30px;}
	&:hover{
		background-color: rgba(255, 255, 255, 0.9);
	}
}
.logout-trigger-info {
	right: 10px;
}	
.zoom-trigger{
	position: fixed;
	left: 15px;
	bottom: 15px;
	display: none;
	.icon{
		position: absolute;
		border-radius: 50%;
		transition: .1s;
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.5);
		&:hover{
			background-color: rgba(255, 255, 255, 0.9);
			transform: scale(1.1);
		}
		&:active{
			transform: scale(0.9);
		}
	}
	img{
		margin: 0 7px;
		width: 25px;
		transition: .1s ease-in-out;
		user-select: none;
	}
	#zoomIn{
		left: 0;
		bottom: 0;
		padding: 8px 1px 3px 1px;
	}
	#zoomOut{
		left: 60px;
		bottom: 0;
		padding: 6px 1px 13px 1px;
	}
}
.to-main-trigger{
	top: 15px;
	right: 140px;
	position: fixed;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	padding: 8px 6px 7px 5px;
	transition: .1s;
	img{
		width: 30px;
		transition: .1s ease-in-out;
	}
	&:hover{
		background-color: rgba(255, 255, 255, 0.9);
		transform: scale(1.1);
	}
	&:active{
		transform: scale(0.9);
	}
}
.back-trigger-info {
	right: 117px;
	width: 86px;
}
// =================
.cloud{
	display: none;
	text-align: center;
	position: fixed;
	width: 100vw;
	height: 100vh;
	color: #fff;
	background-color: rgba(0,0,0,0.9);
	z-index: 999;
	img{
		width: 100%;
	}
	a{
		margin: 15px;
	}
	.title{
		font-family: 'Archivo Black', sans-serif;
		font-size: 8em;
		animation: change-font 5s ease-in-out;
		animation-iteration-count: infinite;
	}
	.container{
		width: 100%;
		padding: 0;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		transition: .3s;
	}
	.cloud-about{
		width: 100%;
		position: absolute;
		top: -50px;
		display: none;
		font-size: 0.95em;
		text-align: center !important;
	}
	.cloud-footer{
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		font-size: 0.8em;
		display: none;
		a{
			margin: 0;
			color: #fff !important;	
		}
	}
	@keyframes change-font{
		0% {transform: scale(1)}
		50% {transform: scale(1.01);}
		100% {transform: scale(1)}
	}
}
.content{
	p > img{
		margin: auto !important;
	}
}
// ==================
.browser-alert{
	position: fixed;
	z-index: 999;
	background-color: #AA0000;
	padding: 15px 30px;
	color: #fff;
	width: 100%;
	left: 0;
	bottom: 0;
	display: none;
	.alert-desc{
		display: inline-block;
	}
	.close-alert{
		position: absolute;
		right: 30px;
		bottom: 10px;
		font-size: 3em;
		cursor: pointer;
		transition: .3s ease-in-out;
		&:hover{
			transform: rotate(-360deg);
		}
	}
}
// ==================
#onmobile{
	position:fixed;
	width:100%;
	height:100%;
	background-color: #fff;
	top:0;
	z-index: 9999;
	display: none;
	text-align: center;
	font-size: 0.8em;
	color:#aaa;
	@media all and (max-width:1024px){
		display: block;
	}
}