* {
  outline: none;
  box-sizing: border-box; }

*::selection {
  background-color: #DA2128; }

body {
  margin: 0;
  font: 16px "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #000; }

button {
  cursor: pointer;
  transition: .1s; }

input, select {
  padding: 5px;
  outline: white;
  border: none;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  min-height: 40px; }
  input:focus, select:focus {
    border-bottom: 1px solid #000; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

textarea {
  border: 1px solid #aaa;
  padding: 15px; }
  textarea:focus {
    border: 1px solid black; }

svg {
  display: block; }

.hidden {
  display: none; }

.container {
  max-width: 1024px;
  margin: auto; }

.form-group {
  margin: 15px 0; }

.bold {
  font-weight: 700; }

.error {
  color: #DA2128; }

#flashMessage {
  top: 30px; }

#flashInfo {
  background-color: white;
  color: #000;
  display: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  text-align: center;
  transform: none;
  border-radius: 5px;
  max-width: 180px;
  line-height: 20px;
  z-index: 999;
  animation-iteration-count: 3;
  font-size: 0.9em; }
  #flashInfo h3 {
    margin-top: 0; }

.btn {
  padding: 10px 20px;
  background: none;
  letter-spacing: 3px;
  user-select: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  overflow: hidden; }
  .btn:after {
    content: '';
    position: absolute;
    transition: .3s;
    z-index: -1; }
  .btn:active {
    transform: scale(0.95); }

.btn1 {
  color: black;
  border: 1px solid black; }
  .btn1:after {
    width: 150%;
    height: 100%;
    background-color: black;
    left: -170%;
    top: 0; }
  .btn1:hover {
    color: white; }
    .btn1:hover:after {
      left: 0%; }

.btn1[disabled] {
  border: 1px solid #aaa;
  color: #aaa; }
  .btn1[disabled]:after {
    background-color: #eee; }

.btn2 {
  color: white;
  border: 1px solid white; }
  .btn2:after {
    width: 150%;
    height: 100%;
    background-color: white;
    left: -170%;
    top: 0;
    transform: skew(45deg); }
  .btn2:hover {
    color: black; }
    .btn2:hover:after {
      left: 0%;
      transform: skew(1deg); }

.btn-passive {
  color: black;
  border: 1px solid black; }
  .btn-passive:hover {
    background-color: black;
    color: white; }

#load {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  text-align: center;
  color: #aaa; }

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  display: none;
  padding: 30px;
  text-align: center; }

.alert {
  display: none;
  padding: 15px;
  top: 0px;
  position: fixed;
  z-index: 999;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.error-page {
  border: 1px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px; }
  .error-page .code {
    font-family: serif;
    text-align: center;
    font-size: 10em;
    margin: 0; }

.blink:after {
  content: '.';
  width: 100%;
  height: 100%;
  font-size: 0.7em;
  background-color: #fff;
  animation: blink .5s ease-in-out;
  animation-iteration-count: infinite; }

@keyframes blink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
#idle {
  animation: updown 1s ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  stroke-width: 10px !important;
  stroke: rgba(0, 0, 0, 0.5); }

@-moz-document url-prefix() {
  #idle {
    stroke-width: 0px !important; } }
@keyframes updown {
  0% {
    stroke-width: 0px; }
  50% {
    stroke-width: 5px; }
  100% {
    stroke-width: 0px; } }
.login {
  width: 100vw;
  height: 100vh;
  background-image: url("/svg/login.svg");
  background-size: cover; }
  .login .error {
    display: block;
    font-size: 0.8em; }
  .login .container {
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9); }
  .login .sub-menu {
    margin-top: 30px;
    font-size: 0.8em;
    text-align: center; }
    .login .sub-menu a {
      color: #333;
      transition: .3s; }
      .login .sub-menu a:hover {
        color: #000; }
  .login .btn-wrapper {
    margin-top: 30px; }
    .login .btn-wrapper .btn {
      width: 100%; }

.forgot-pass .container {
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%); }
.forgot-pass form {
  max-width: 640px; }
.forgot-pass input {
  display: block;
  margin: auto; }
.forgot-pass .error {
  font-size: 0.8em; }

.reset-pass .container {
  position: absolute;
  left: 50%;
  top: 40%;
  text-align: center;
  transform: translate(-50%, -50%); }
.reset-pass form {
  max-width: 640px; }
.reset-pass input {
  display: block;
  margin: auto; }
.reset-pass .error {
  font-size: 0.8em; }

.register {
  width: 100vw;
  height: 100vh;
  background-image: url("/svg/register.svg");
  background-size: cover; }
  .register .page-title {
    text-align: left; }
  .register input, .register select {
    width: 100%; }
  .register .container {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); }
  .register .form-reg {
    display: flex;
    justify-content: space-around;
    position: relative; }
    .register .form-reg section {
      width: 45%; }
  .register .birthdate-label {
    position: absolute;
    top: -8px;
    font-size: 333;
    font-size: 0.8em; }
  .register form .form-group:nth-last-child(2) {
    margin: 0; }
  .register .error {
    font-size: 0.8em; }

.svg-container {
  max-width: 100%;
  max-height: 100vh;
  overflow: hidden;
  transition: .3s ease-in-out;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  transform: scale(1);
  animation: scaling 0.7s cubic-bezier(0.38, 1.19, 0.79, -0.16); }
  .svg-container:active {
    cursor: move;
    cursor: -o-move;
    cursor: -moz-move;
    cursor: -webkit-move; }

.map {
  transform: scale(1); }

.svg-container.blur {
  filter: grayscale(90%) blur(5px); }

@keyframes scaling {
  from {
    transform: scale(0.8);
    filter: blur(5px); }
  to {
    transform: scale(1);
    filter: blur(0); } }
.room-trigger {
  cursor: pointer;
  transition: .1s; }
  .room-trigger:hover {
    opacity: .5 !important; }

.page-trigger {
  cursor: pointer;
  transition: .1s; }
  .page-trigger:hover {
    opacity: .3 !important; }

.cal-trigger {
  cursor: pointer;
  transition: .1s; }
  .cal-trigger:hover {
    opacity: .3 !important; }

.fam-trigger {
  cursor: pointer;
  transition: .1s; }
  .fam-trigger:hover {
    opacity: .3 !important; }

.guest-trigger {
  cursor: pointer;
  transition: .1s; }
  .guest-trigger:hover {
    opacity: .3 !important; }

.children-trigger {
  cursor: pointer;
  transition: .1s; }
  .children-trigger:hover {
    opacity: .3 !important; }

.search-trigger {
  cursor: pointer;
  transition: .1s; }
  .search-trigger:hover {
    opacity: .3 !important; }

@media all and (min-width: 1680px) {
  .main-menu-btn .burger {
    background-color: #000 !important; }
    .main-menu-btn .burger:after, .main-menu-btn .burger:before {
      background-color: #000 !important; }

  .svg-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: none;
    z-index: 1; }
    .svg-container:before, .svg-container:after {
      display: none; }

  .cloud {
    z-index: 999; } }
.upgrade {
  padding: 0;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh; }
  .upgrade .title {
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Archivo Black', sans-serif; }
  .upgrade form {
    background: linear-gradient(30deg, #EAD66F, #D0B849);
    border: 3px solid #000;
    padding: 15px 15px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 200px;
    box-shadow: 0 20px 50px 1px rgba(0, 0, 0, 0.1); }
    .upgrade form input {
      width: 80%;
      margin: 10px 0;
      padding: 0 70px;
      cursor: pointer;
      content: "Upload File"; }
  .upgrade .preview ol {
    padding: 0; }
  .upgrade .preview img {
    max-width: 200px;
    margin: auto; }

.news-page {
  padding: 0;
  width: 83%; }
  .news-page .header {
    text-align: center;
    width: 100%;
    border-bottom: 10px solid black; }
    .news-page .header img {
      margin: 40px 0;
      width: 300px;
      display: inline-block; }
    .news-page .header .title {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      font-family: 'Archivo Black', sans-serif;
      font-size: 5em;
      vertical-align: top; }
  .news-page .content {
    padding: 15px; }
    .news-page .content .container {
      display: flex;
      justify-content: space-between; }
      .news-page .content .container .headline, .news-page .content .container .other {
        text-align: left !important; }
      .news-page .content .container .headline {
        padding: 15px;
        border: 1px solid black;
        width: 500%;
        text-align: center; }
        .news-page .content .container .headline #output_title {
          font-size: 2em;
          font-weight: 700;
          margin: 15px 0; }
        .news-page .content .container .headline img {
          width: 100%;
          height: auto; }
        .news-page .content .container .headline iframe {
          width: 100%; }
      .news-page .content .container .other {
        padding: 0 0 0 15px; }
        .news-page .content .container .other li {
          cursor: pointer;
          list-style-type: none;
          border: 1px solid black;
          width: 100%;
          margin: 30px 0; }
          .news-page .content .container .other li:nth-child(1) {
            margin-top: 0; }
          .news-page .content .container .other li:hover {
            transform: scale(1.05); }
          .news-page .content .container .other li p {
            margin: 0;
            padding: 15px; }
        .news-page .content .container .other .title {
          background-color: #000;
          color: #fff; }
  .news-page ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */ }
  .news-page .sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 17%;
    height: 100vh; }
    .news-page .sidebar .ads {
      width: 100%;
      height: 100px;
      background-color: #eee;
      text-align: center;
      color: #ccc; }
    .news-page .sidebar nav {
      padding-top: 100px;
      border: 1px solid #eee;
      height: 100%;
      overflow: scroll; }
    .news-page .sidebar ul {
      margin: 0;
      padding: 0; }
    .news-page .sidebar li {
      list-style-type: none;
      border: 1px solid #eee;
      background-color: #fff;
      padding: 15px;
      cursor: pointer;
      width: 100%;
      font-size: 0.7em; }
      .news-page .sidebar li p {
        margin: 0; }
      .news-page .sidebar li:hover {
        background-color: #eee; }

.page-gallery {
  padding-top: 70px; }
  .page-gallery img {
    filter: grayscale(100%);
    transition: .1s ease-in-out;
    width: 44.5%; }
    .page-gallery img:hover {
      transform: scale(1.1);
      filter: none;
      z-index: 99;
      position: relative; }
  .page-gallery .flex-container {
    width: 100%;
    text-align: center; }

.page-comson {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/map.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px); }

.clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  left: 0;
  top: 0; }
  .clouds #cld {
    width: 100%;
    position: relative;
    animation: move 100s linear;
    animation-iteration-count: infinite;
    z-index: 1; }
@keyframes move {
  from {
    left: -90%; }
  to {
    left: 90%; } }
  .clouds .wrap {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    left: 0;
    top: 0;
    text-align: center;
    z-index: 2; }
    .clouds .wrap .title {
      margin-top: 20%;
      margin-bottom: 0;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-size: 8em; }

.page-does {
  padding: 70px 30px 0 30px;
  height: 100vh; }
  .page-does .choice {
    display: none; }
  .page-does #vid {
    display: block; }
  .page-does video {
    width: 100%; }
  .page-does .videos-container .video {
    background-color: #efefef;
    font-size: 1em;
    font-weight: 700;
    padding: 5px;
    margin: 0 0 30px 0;
    cursor: pointer; }
    .page-does .videos-container .video p {
      margin: 0 0 15px 0; }
    .page-does .videos-container .video img {
      width: 100%; }
  .page-does .video-player {
    width: 69%;
    display: inline-block;
    border: 5px solid #fff;
    margin-right: 1%; }
    .page-does .video-player iframe {
      width: 100%;
      min-height: 80vh; }
  .page-does .does {
    width: 29%;
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;
    padding: 0 15px; }
    .page-does .does h3 {
      margin-top: 0; }
    .page-does .does .special {
      width: 100%;
      display: inline-block; }
      .page-does .does .special video {
        width: 100%; }
    .page-does .does ul {
      margin: 0;
      padding: 0; }
      .page-does .does ul li {
        list-style-type: none; }
        .page-does .does ul li img {
          transition: .3s;
          filter: grayscale(100%); }
        .page-does .does ul li:hover img {
          filter: grayscale(0%); }
    .page-does .does .btn-wrapper {
      text-align: center; }

@media all and (min-width: 1680px) {
  .page-does .content {
    padding: 15px; } }
.room-main .object {
  width: 100%;
  min-height: 200px;
  display: none;
  position: absolute;
  background-color: #FFF;
  text-align: center;
  padding: 30px; }

.room-guestbook {
  height: 100vh;
  position: relative;
  margin: 0 auto;
  padding: 50px;
  max-width: 640px;
  font: 400 14px/1.24 helvetica, arial, sans-serif;
  /*!
   *  Font Awesome 4.1.0 by @davegandy - http://fontawesome.io - @fontawesome
   *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
   */ }
  .room-guestbook *::selection {
    background-color: #ccc !important; }
  .room-guestbook .btn-wrapper {
    text-align: right; }
  .room-guestbook span {
    cursor: pointer;
    text-decoration: underline; }
  .room-guestbook #editor {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 200px;
    border: 1px solid #888;
    padding: 1em;
    background: transparent;
    color: #2b2b2b;
    font: 13px/1.35 Helvetica, arial, sans-serif;
    cursor: text; }
  .room-guestbook a {
    text-decoration: underline; }
  .room-guestbook h2 {
    font-size: 123.1%; }
  .room-guestbook h3 {
    font-size: 108%; }
  .room-guestbook h1, .room-guestbook h2, .room-guestbook h3, .room-guestbook p {
    margin: 1em 0; }
  .room-guestbook h4, .room-guestbook h5, .room-guestbook h6 {
    margin: 0; }
  .room-guestbook ul, .room-guestbook ol {
    margin: 0 1em;
    padding: 0 1em; }
  .room-guestbook blockquote {
    border-left: 2px solid blue;
    margin: 0;
    padding: 0 10px; }
  .room-guestbook .header {
    padding: 50px 0 30px;
    color: #fff;
    text-align: center;
    background: #1d193d;
    margin-bottom: 20px; }
  .room-guestbook .header h1 {
    font-size: 8em;
    line-height: 1em;
    font-weight: 900; }
  .room-guestbook .header h2 {
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 300;
    text-transform: lowercase;
    color: #afaedf; }
  .room-guestbook .col-centered {
    float: none;
    margin: 0 auto;
    width: 80%; }
  .room-guestbook .alignCenter {
    text-align: center; }
  .room-guestbook iframe {
    width: 100%;
    border: 1px #919191 solid;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 7px 8px;
    color: #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }
  .room-guestbook .menu .item {
    color: #666;
    float: left;
    background: #FFF;
    padding: 10px;
    border-left: 1px #EEE solid;
    border-bottom: 3px transparent solid;
    -webkit-font-smoothing: subpixel-antialiased; }
  .room-guestbook .menu .group {
    border-radius: 3px;
    display: inline-block;
    border: 1px #EEE solid;
    margin: 5px; }
  .room-guestbook .menu .group .item .flip {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .room-guestbook .btn {
    margin-top: 10px; }
  .room-guestbook input[type=text] {
    background-color: #fff;
    vertical-align: middle;
    max-width: 100%;
    border: 1px solid #a8afb2;
    border-color: #a8afb2 #d4d7d9 #d4d7d9;
    color: #516066;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border linear 150ms;
    -moz-transition: border linear 150ms;
    -o-transition: border linear 150ms;
    transition: border linear 150ms;
    font-size: 14px;
    padding: 5px;
    width: 100%; }
  .room-guestbook .menu .group .item:hover, .room-guestbook .menu .item:first-child:hover {
    border-bottom: 3px #55ACEE solid; }
  .room-guestbook .menu .group .item:active, .room-guestbook .menu .item:first-child:active {
    border-bottom: 3px #000 solid; }
  .room-guestbook .menu .item:first-child {
    border-left: none; }
  .room-guestbook .menu {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .room-guestbook .drop {
    border: 1px solid #dbdbdb;
    padding: 14px;
    background: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0), 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px; }
  .room-guestbook .hidden {
    display: none; }
  .room-guestbook .quit {
    float: right;
    top: 0;
    right: 0;
    margin-bottom: 5px; }
  .room-guestbook .drop-element, .room-guestbook .drop-element:after, .room-guestbook .drop-element:before, .room-guestbook .drop-element *, .room-guestbook .drop-element *:after, .room-guestbook .drop-element *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .room-guestbook .drop-element {
    position: absolute;
    display: none; }
  .room-guestbook .drop-element.drop-open {
    display: block; }
  .room-guestbook .drop-element.drop-theme-arrows {
    max-width: 100%;
    max-height: 100%; }
  .room-guestbook .drop-element.drop-theme-arrows .drop-content {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    font-family: inherit;
    background: #eeeeee;
    color: #444444;
    padding: 1em;
    font-size: 1.1em;
    line-height: 1.5em;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    -moz-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2)); }
  .room-guestbook .drop-element.drop-theme-arrows .drop-content:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 16px;
    border-style: solid; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content {
    margin-bottom: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-center .drop-content:before {
    top: 100%;
    left: 50%;
    margin-left: -16px;
    border-top-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content {
    margin-top: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-center .drop-content:before {
    bottom: 100%;
    left: 50%;
    margin-left: -16px;
    border-bottom-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content {
    margin-right: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-right.drop-element-attached-middle .drop-content:before {
    left: 100%;
    top: 50%;
    margin-top: -16px;
    border-left-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content {
    margin-left: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-left.drop-element-attached-middle .drop-content:before {
    right: 100%;
    top: 50%;
    margin-top: -16px;
    border-right-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content {
    margin-top: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-bottom .drop-content:before {
    bottom: 100%;
    left: 16px;
    border-bottom-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content {
    margin-top: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-bottom .drop-content:before {
    bottom: 100%;
    right: 16px;
    border-bottom-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content {
    margin-bottom: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-top .drop-content:before {
    top: 100%;
    left: 16px;
    border-top-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content {
    margin-bottom: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-top .drop-content:before {
    top: 100%;
    right: 16px;
    border-top-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-right.drop-target-attached-left .drop-content:before {
    top: 16px;
    left: 100%;
    border-left-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-top.drop-element-attached-left.drop-target-attached-right .drop-content:before {
    top: 16px;
    right: 100%;
    border-right-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content {
    margin-right: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-right.drop-target-attached-left .drop-content:before {
    bottom: 16px;
    left: 100%;
    border-left-color: #eeeeee; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content {
    margin-left: 16px; }
  .room-guestbook .drop-element.drop-theme-arrows.drop-element-attached-bottom.drop-element-attached-left.drop-target-attached-right .drop-content:before {
    bottom: 16px;
    right: 100%;
    border-right-color: #eeeeee; }
@font-face {
  .room-guestbook {
    font-family: 'FontAwesome';
    src: url("./font-awesome/fontawesome-webfont.eot?v=4.1.0");
    src: url("./font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"), url("./font-awesome/fontawesome-webfont.woff?v=4.1.0") format("woff"), url("./font-awesome/fontawesome-webfont.ttf?v=4.1.0") format("truetype"), url("./font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; } }
  .room-guestbook .fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .room-guestbook .fa-bold:before {
    content: "\f032"; }
  .room-guestbook .fa-italic:before {
    content: "\f033"; }
  .room-guestbook .fa-underline:before {
    content: "\f0cd"; }
  .room-guestbook .fa-font:before {
    content: "\f031"; }
  .room-guestbook .fa-link:before {
    content: "\f0c1"; }
  .room-guestbook .fa-list-alt:before {
    content: "\f022"; }
  .room-guestbook .fa-list:before {
    content: "\f03a"; }
  .room-guestbook .fa-picture-o:before {
    content: "\f03e"; }
  .room-guestbook .fa-quote-right:before {
    content: "\f10e"; }
  .room-guestbook .fa-chevron-up:before {
    content: "\f077"; }
  .room-guestbook .fa-header:before {
    content: "\f1dc"; }
  .room-guestbook .fa-align-left:before {
    content: "\f036"; }
  .room-guestbook .fa-align-center:before {
    content: "\f037"; }
  .room-guestbook .fa-align-right:before {
    content: "\f038"; }
  .room-guestbook .fa-align-justify:before {
    content: "\f039"; }
  .room-guestbook .fa-undo:before {
    content: "\f0e2"; }
  .room-guestbook .fa-heart:before {
    content: "\f004"; }

.room-guestbook .editor-wrapper {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.page-event .event {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  min-height: 377px;
  width: 80%;
  z-index: 99; }
  .page-event .event .event-page {
    display: none; }
  .page-event .event #ep3 {
    display: block; }
  .page-event .event .title {
    width: 100%;
    background-color: #ccc;
    margin: 0;
    padding: 20px 15px;
    text-transform: uppercase; }
  .page-event .event .nav {
    width: 20%;
    float: left;
    background-color: #eee; }
    .page-event .event .nav ul {
      margin: 0;
      padding: 0; }
    .page-event .event .nav li.btn {
      background-color: #ddd;
      padding: 15px;
      cursor: pointer;
      font-weight: 100; }
      .page-event .event .nav li.btn:hover {
        background-color: #eee; }
    .page-event .event .nav li.selected {
      background-color: #FFF; }
  .page-event .event .content {
    padding: 30px;
    width: 80%;
    float: right;
    background-color: #FFF; }
  .page-event .event #join_event {
    color: #800000; }
  .page-event .event .event-join {
    clear: both; }
  .page-event .event #close {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 2em; }

.room-security {
  position: absolute;
  width: 100%; }
  .room-security .content {
    min-height: 350px;
    display: none;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 50%);
    z-index: 9;
    text-align: justify;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.9); }
    .room-security .content p:nth-child(1) {
      margin-top: 0; }
    .room-security .content .btn {
      position: absolute;
      right: 30px;
      bottom: 30px; }
      .room-security .content .btn:hover {
        background-color: #000; }
    .room-security .content #tips {
      left: 210px;
      font-size: 0.6em;
      padding: 3px 5px; }
      .room-security .content #tips:after {
        left: -190%; }
  .room-security .search-container {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 9;
    padding: 0 30px;
    max-height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
    display: none; }
    .room-security .search-container input {
      border-radius: 0px;
      padding: 12px;
      width: 100%; }
    .room-security .search-container .btn:after {
      left: -190%; }
    .room-security .search-container .btn:hover:after {
      left: 0; }
  .room-security .loader svg {
    margin: auto; }
  .room-security .search-result {
    padding-top: 30px;
    text-align: right; }

@media all and (min-width: 1680px) {
  .room-security .content #tips {
    display: none !important; } }
.page-garage .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-garage .main-content .headline {
    padding: 15px; }
    .page-garage .main-content .headline .title, .page-garage .main-content .headline .date {
      text-align: center; }
    .page-garage .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-garage .main-content .headline img {
      width: 50%;
      height: auto; }
.page-garage #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-garage #alldata {
  position: absolute;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 0.9em;
  top: 115px;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: left; }
  .page-garage #alldata h4 {
    cursor: pointer; }
    .page-garage #alldata h4:nth-child(1) {
      margin-top: 0; }
    .page-garage #alldata h4:hover {
      text-decoration: underline; }
.page-garage #alldata.show {
  right: 15px; }
.page-garage #close {
  position: absolute; }
.page-garage .btn-wrapper {
  margin-bottom: 30px; }
.page-garage .gallery {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: black;
  width: 100%;
  height: 100vh;
  display: none;
  overflow: hidden;
  padding: 30px; }
  .page-garage .gallery .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 80vh; }
    .page-garage .gallery .flex-container img {
      filter: grayscale(100%); }
      .page-garage .gallery .flex-container img:hover {
        filter: grayscale(0%);
        transform: scale(1.1);
        position: relative;
        z-index: 999; }

.page-guest .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-guest .main-content .headline {
    padding: 15px; }
    .page-guest .main-content .headline .title, .page-guest .main-content .headline .date {
      text-align: center; }
    .page-guest .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-guest .main-content .headline p:nth-child(1) {
      margin-top: 0;
      text-align: center; }
    .page-guest .main-content .headline img {
      width: 50%;
      height: auto; }
.page-guest #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-guest #alldata {
  position: absolute;
  top: 115px;
  font-size: 0.9em;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-guest #alldata h4 {
    cursor: pointer; }
    .page-guest #alldata h4:nth-child(1) {
      margin-top: 0; }
    .page-guest #alldata h4:hover {
      text-decoration: underline; }
.page-guest #alldata.show {
  right: 15px; }
.page-guest #close {
  position: absolute; }
.page-guest .upload-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #FFF;
  display: none;
  overflow: hidden;
  padding: 15px; }
.page-guest .mirror3d {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  width: initial;
  z-index: 99;
  background-color: #fff;
  display: none; }
  .page-guest .mirror3d .title {
    width: 320px;
    height: 320px;
    background: linear-gradient(30deg, #F2994A, #F2C94C);
    color: #fff;
    margin: auto;
    text-align: center;
    padding-top: 140px;
    animation: bgchange 3s;
    animation-iteration-count: infinite; }
@keyframes bgchange {
  0% {
    background: linear-gradient(30deg, #F2994A, #F2C94C); }
  25% {
    background: linear-gradient(40deg, #30E8BF, #FF8235); }
  50% {
    background: linear-gradient(50deg, #FF5F6D, #FFC371); }
  75% {
    background: linear-gradient(60deg, #FC354C, #0ABFBC); }
  100% {
    background: linear-gradient(70deg, #FC466B, #3F5EFB); } }
.page-personal .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-personal .main-content .headline {
    padding: 15px; }
    .page-personal .main-content .headline .title, .page-personal .main-content .headline .date {
      text-align: center; }
    .page-personal .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
      .page-personal .main-content .headline .content p:nth-child(1) {
        margin-top: 0; }
    .page-personal .main-content .headline img {
      width: 50%;
      height: auto; }
.page-personal #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-personal #alldata {
  max-width: 235px;
  position: absolute;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  top: 115px;
  font-size: 0.85em;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-personal #alldata h4 {
    cursor: pointer; }
    .page-personal #alldata h4:nth-child(1) {
      margin-top: 0; }
    .page-personal #alldata h4:hover {
      text-decoration: underline; }
.page-personal #alldata.show {
  right: 15px; }
.page-personal #close {
  position: absolute; }

.page-family .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-family .main-content .headline {
    padding: 15px; }
    .page-family .main-content .headline .title, .page-family .main-content .headline .date {
      text-align: center; }
    .page-family .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
      .page-family .main-content .headline .content p:nth-child(1) {
        margin-top: 0; }
    .page-family .main-content .headline img {
      width: 50%;
      height: auto; }
.page-family #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-family #alldata {
  position: absolute;
  top: 115px;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 0.95em;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-family #alldata h4 {
    cursor: pointer; }
    .page-family #alldata h4:hover {
      text-decoration: underline; }
.page-family #alldata.show {
  right: 15px; }
.page-family #close {
  position: absolute; }
.page-family .family-content {
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: #FFF;
  display: none;
  overflow: hidden;
  max-width: 320px; }
  .page-family .family-content img {
    width: 100%; }

.page-pool .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-pool .main-content .headline {
    padding: 15px; }
    .page-pool .main-content .headline .title, .page-pool .main-content .headline .date {
      text-align: center; }
    .page-pool .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-pool .main-content .headline p:nth-child(1) {
      margin-top: 0; }
    .page-pool .main-content .headline img {
      width: 50%;
      height: auto; }
.page-pool #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-pool #alldata {
  position: absolute;
  top: 115px;
  font-size: 0.9em;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-pool #alldata h4 {
    cursor: pointer; }
    .page-pool #alldata h4:hover {
      text-decoration: underline; }
.page-pool #alldata.show {
  right: 15px; }
.page-pool #close {
  position: absolute; }

.page-garden .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-garden .main-content .headline {
    padding: 15px; }
    .page-garden .main-content .headline .title, .page-garden .main-content .headline .date {
      text-align: center; }
    .page-garden .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-garden .main-content .headline p:nth-child(1) {
      margin-top: 0; }
    .page-garden .main-content .headline img {
      width: 50%;
      height: auto; }
.page-garden #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-garden #alldata {
  position: absolute;
  top: 115px;
  font-size: 0.9em;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-garden #alldata h4 {
    cursor: pointer; }
    .page-garden #alldata h4:hover {
      text-decoration: underline; }
.page-garden #alldata.show {
  right: 15px; }
.page-garden #close {
  position: absolute; }

.page-gym .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-gym .main-content .headline {
    padding: 15px; }
    .page-gym .main-content .headline .title, .page-gym .main-content .headline .date {
      text-align: center; }
    .page-gym .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-gym .main-content .headline p:nth-child(1) {
      margin-top: 0; }
    .page-gym .main-content .headline img {
      width: 50%;
      height: auto; }
.page-gym #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-gym #alldata {
  position: absolute;
  top: 115px;
  font-size: 0.9em;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-gym #alldata h4 {
    cursor: pointer; }
    .page-gym #alldata h4:hover {
      text-decoration: underline; }
.page-gym #alldata.show {
  right: 15px; }
.page-gym #close {
  position: absolute; }

.page-children .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-children .main-content .headline {
    padding: 15px; }
    .page-children .main-content .headline .title, .page-children .main-content .headline .date {
      text-align: center; }
    .page-children .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
      .page-children .main-content .headline .content p:nth-child(1) {
        margin-top: 0; }
    .page-children .main-content .headline img {
      width: 50%;
      height: auto; }
.page-children #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-children #alldata {
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 115px;
  font-size: 0.9em;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-children #alldata h4 {
    cursor: pointer; }
    .page-children #alldata h4:hover {
      text-decoration: underline; }
.page-children #alldata.show {
  right: 15px; }
.page-children #close {
  position: absolute; }
.page-children #close_fam {
  position: absolute;
  right: 50px; }
  .page-children #close_fam:hover {
    background-color: #000; }
.page-children .family-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: none;
  width: 90%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px; }
  .page-children .family-content .pic {
    vertical-align: top;
    width: 30%;
    display: inline-block;
    text-align: right; }
    .page-children .family-content .pic img {
      width: 100%; }
  .page-children .family-content .fam-wrapper {
    width: 69%;
    display: inline-block;
    background-color: #FFF;
    padding: 15px; }
  .page-children .family-content .content {
    max-height: 57vh;
    overflow: scroll;
    overflow-x: hidden;
    line-height: 25px;
    padding-right: 15px; }
.page-children .video-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: none;
  width: 90%;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px; }
  .page-children .video-content .videos {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .page-children .video-content .videos iframe {
      height: 80%; }

.page-amphi .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-amphi .main-content .headline {
    padding: 15px; }
    .page-amphi .main-content .headline .title, .page-amphi .main-content .headline .date {
      text-align: center; }
    .page-amphi .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-amphi .main-content .headline p:nth-child(1) {
      text-align: center; }
    .page-amphi .main-content .headline img {
      width: 100%;
      height: auto; }
.page-amphi #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-amphi #alldata {
  position: absolute;
  top: 115px;
  font-size: 0.8em;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-amphi #alldata h4 {
    cursor: pointer; }
    .page-amphi #alldata h4:hover {
      text-decoration: underline; }
.page-amphi #alldata.show {
  right: 15px; }
.page-amphi #close {
  position: absolute; }
.page-amphi .webcam-container {
  padding: 15px;
  display: none;
  position: absolute;
  max-width: 640px;
  background-color: #fff;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .page-amphi .webcam-container video {
    width: 100%; }
.page-amphi .btn-wrapper {
  margin: 15px 0; }
.page-amphi .blob-container {
  width: 20vw;
  font-size: 0.8em;
  position: fixed;
  left: 100%;
  top: 0; }
  .page-amphi .blob-container ul {
    margin: 0;
    padding: 0 15px; }
  .page-amphi .blob-container li {
    padding: 5px;
    background-color: #fff;
    list-style-type: none; }

.page-office a {
  color: #800000; }
.page-office .office-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  text-align: center;
  display: none; }
  .page-office .office-content .title {
    margin-top: 0; }
  .page-office .office-content img {
    width: 100%; }
.page-office .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-office .main-content .headline {
    padding: 15px; }
    .page-office .main-content .headline .title, .page-office .main-content .headline .date {
      text-align: center; }
    .page-office .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
      .page-office .main-content .headline .content p:nth-child(1) {
        margin-top: 0; }
    .page-office .main-content .headline img {
      width: 50%;
      height: auto; }
.page-office #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-office #alldata {
  max-width: 235px;
  position: absolute;
  top: 115px;
  font-size: 0.85em;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-office #alldata h4 {
    cursor: pointer; }
    .page-office #alldata h4:nth-child(1) {
      margin-top: 0; }
    .page-office #alldata h4:hover {
      text-decoration: underline; }
.page-office #alldata.show {
  right: 15px; }
.page-office #close {
  position: absolute; }

.page-kitchen .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-kitchen .main-content .headline {
    padding: 15px; }
    .page-kitchen .main-content .headline .title, .page-kitchen .main-content .headline .date {
      text-align: center; }
    .page-kitchen .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-kitchen .main-content .headline p:nth-child(1) {
      margin-top: 0; }
    .page-kitchen .main-content .headline img {
      width: 50%;
      height: auto; }
.page-kitchen #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-kitchen #alldata {
  position: absolute;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 0.9em;
  top: 115px;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-kitchen #alldata h4 {
    cursor: pointer; }
    .page-kitchen #alldata h4:hover {
      text-decoration: underline; }
.page-kitchen #alldata.show {
  right: 15px; }
.page-kitchen #close {
  position: absolute; }

.page-studio-music .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-studio-music .main-content .headline {
    padding: 15px; }
    .page-studio-music .main-content .headline .title, .page-studio-music .main-content .headline .date {
      text-align: center; }
    .page-studio-music .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-studio-music .main-content .headline p:nth-child(1) {
      margin-top: 0; }
    .page-studio-music .main-content .headline img {
      width: 50%;
      height: auto; }
.page-studio-music #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-studio-music #alldata {
  position: absolute;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  top: 115px;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right; }
  .page-studio-music #alldata h4 {
    cursor: pointer; }
    .page-studio-music #alldata h4:hover {
      text-decoration: underline; }
.page-studio-music #alldata.show {
  right: 15px; }
.page-studio-music #close {
  position: absolute; }

.page-studio-visual .main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.3);
  width: 90%;
  height: 80vh;
  display: none;
  overflow: hidden; }
  .page-studio-visual .main-content .headline {
    padding: 15px; }
    .page-studio-visual .main-content .headline .title, .page-studio-visual .main-content .headline .date {
      text-align: center; }
    .page-studio-visual .main-content .headline .content {
      max-height: 55vh;
      max-width: 640px;
      margin: auto;
      overflow: scroll;
      overflow-x: hidden;
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      line-height: 25px; }
    .page-studio-visual .main-content .headline img {
      width: 50%;
      height: auto; }
.page-studio-visual #alldata_trigger {
  position: absolute;
  bottom: 15px;
  right: 15px; }
.page-studio-visual #alldata {
  position: absolute;
  max-width: 235px;
  max-height: 55vh;
  overflow: scroll;
  overflow-x: hidden;
  top: 115px;
  right: -100%;
  background-color: #000;
  color: #fff;
  padding: 15px;
  text-align: right;
  font-size: 0.9em; }
  .page-studio-visual #alldata h4 {
    cursor: pointer; }
    .page-studio-visual #alldata h4:hover {
      text-decoration: underline; }
.page-studio-visual #alldata.show {
  right: 15px; }
.page-studio-visual #close {
  position: absolute; }

.main-menu-trigger {
  position: fixed;
  top: 15px;
  z-index: 999;
  user-select: none;
  transition: .1s; }
  .main-menu-trigger:hover {
    transform: scale(1.1); }
  .main-menu-trigger:active {
    transform: scale(0.9); }

.trigger-info {
  position: fixed;
  top: 55px;
  font-size: 0.9em;
  display: none;
  cursor: default;
  transition: .1s;
  background-color: #FFF;
  padding: 5px;
  z-index: 99; }

.map-trigger {
  right: 75px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 5px 8px 2px 5px; }
  .map-trigger img {
    width: 30px; }
  .map-trigger:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.map-trigger-info {
  right: 66px;
  width: 60px; }

.logout-trigger {
  right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 5px 5px 0 5px;
  cursor: pointer; }
  .logout-trigger img {
    width: 30px; }
  .logout-trigger:hover {
    background-color: rgba(255, 255, 255, 0.9); }

.logout-trigger-info {
  right: 10px; }

.zoom-trigger {
  position: fixed;
  left: 15px;
  bottom: 15px;
  display: none; }
  .zoom-trigger .icon {
    position: absolute;
    border-radius: 50%;
    transition: .1s;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5); }
    .zoom-trigger .icon:hover {
      background-color: rgba(255, 255, 255, 0.9);
      transform: scale(1.1); }
    .zoom-trigger .icon:active {
      transform: scale(0.9); }
  .zoom-trigger img {
    margin: 0 7px;
    width: 25px;
    transition: .1s ease-in-out;
    user-select: none; }
  .zoom-trigger #zoomIn {
    left: 0;
    bottom: 0;
    padding: 8px 1px 3px 1px; }
  .zoom-trigger #zoomOut {
    left: 60px;
    bottom: 0;
    padding: 6px 1px 13px 1px; }

.to-main-trigger {
  top: 15px;
  right: 140px;
  position: fixed;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 8px 6px 7px 5px;
  transition: .1s; }
  .to-main-trigger img {
    width: 30px;
    transition: .1s ease-in-out; }
  .to-main-trigger:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1); }
  .to-main-trigger:active {
    transform: scale(0.9); }

.back-trigger-info {
  right: 117px;
  width: 86px; }

.cloud {
  display: none;
  text-align: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999; }
  .cloud img {
    width: 100%; }
  .cloud a {
    margin: 15px; }
  .cloud .title {
    font-family: 'Archivo Black', sans-serif;
    font-size: 8em;
    animation: change-font 5s ease-in-out;
    animation-iteration-count: infinite; }
  .cloud .container {
    width: 100%;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s; }
  .cloud .cloud-about {
    width: 100%;
    position: absolute;
    top: -50px;
    display: none;
    font-size: 0.95em;
    text-align: center !important; }
  .cloud .cloud-footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.8em;
    display: none; }
    .cloud .cloud-footer a {
      margin: 0;
      color: #fff !important; }
@keyframes change-font {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.01); }
  100% {
    transform: scale(1); } }
.content p > img {
  margin: auto !important; }

.browser-alert {
  position: fixed;
  z-index: 999;
  background-color: #AA0000;
  padding: 15px 30px;
  color: #fff;
  width: 100%;
  left: 0;
  bottom: 0;
  display: none; }
  .browser-alert .alert-desc {
    display: inline-block; }
  .browser-alert .close-alert {
    position: absolute;
    right: 30px;
    bottom: 10px;
    font-size: 3em;
    cursor: pointer;
    transition: .3s ease-in-out; }
    .browser-alert .close-alert:hover {
      transform: rotate(-360deg); }

#onmobile {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  z-index: 9999;
  display: none;
  text-align: center;
  font-size: 0.8em;
  color: #aaa; }
  @media all and (max-width: 1024px) {
    #onmobile {
      display: block; } }

/*# sourceMappingURL=style.css.map */
