.page-comson{
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-image: url("/img/map.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(5px);
}
.clouds{
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	left: 0;
	top: 0;
	#cld{
		width: 100%;
		position: relative;
		animation: move 100s linear;
		animation-iteration-count: infinite;
		z-index: 1;
	}
	@keyframes move{
		from {left: -90%}
		to {left: 90%}
	}
	.wrap{
		position: absolute;
		width: 100%;
		height: 100vh;
		background-color: rgba(255,255,255,0.5);
		left: 0;
		top: 0;
		text-align: center;
		z-index: 2;
		.title{
			margin-top: 20%;
			margin-bottom: 0;
			font-weight: 400;
			font-family: 'Open Sans', sans-serif;
			text-transform: uppercase;
			font-size: 8em;
		}
	}
}