.hidden {display: none;}
.container {max-width: 1024px; margin: auto;}
.form-group {margin: 15px 0;}
.bold {font-weight: 700;}
.error {color: $red;}
#flashMessage {top:30px;}
#flashInfo{
	background-color: white;
	color:#000;
	display:none;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	padding:15px;
	overflow:hidden;
	position:absolute;
	text-align: center;
	transform:none;
	border-radius: 5px;
	max-width:180px;
	line-height: 20px;
	z-index: 999;
	// animation: heartbeat 2s ease-in-out;
	animation-iteration-count: 3;
	font-size: 0.9em;
	h3{
		margin-top: 0;
	}
}
.btn{
	padding: 10px 20px;
	background: none;
	letter-spacing: 3px;
	user-select: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		transition: .3s;
		z-index: -1;
	}
	&:active{
		transform: scale(0.95);
	}
}
.btn1{
	color: black;
	border: 1px solid black;
	&:after{
		width: 150%;
		height: 100%;
		background-color: black;
		left: -170%;
		top: 0;
	}
	&:hover{
		color: white;
		&:after{
			left: 0%;
		}
	}
}
.btn1[disabled]{
	border: 1px solid #aaa;
	color: #aaa;
	&:after{
		background-color: #eee;
	}
}
.btn2{
	color: white;
	border: 1px solid white;
	&:after{
		width: 150%;
		height: 100%;
		background-color: white;
		left: -170%;
		top: 0;
		transform: skew(45deg);
	}
	&:hover{
		color: black;
		&:after{
			left: 0%;
			transform: skew(1deg);
		}
	}
}
.btn-passive{
	color: black;
	border: 1px solid black;
	&:hover{
		background-color: black;
		color: white;
	}
}
#load{
	position:fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
	text-align: center;
	color:#aaa;
}
#loader{
	position:fixed;
	width:100%;
	height: 100%;
	background-color: #FFF;
	display: none;
	padding: 30px;
	text-align: center;
}
//alert
.alert{
	display:none;
	padding:15px;
	top:0px;
	position: fixed;
	z-index: 999;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.error-page{
	border: 1px solid black;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	.code{
		font-family: serif;
		text-align: center;
		font-size: 10em;
		margin: 0;
	}
}
.blink{
	&:after{
		content: '.';
		width: 100%;
		height: 100%;
		font-size: 0.7em;
		background-color: #fff;
		animation: blink .5s ease-in-out;
		animation-iteration-count: infinite;
	}
}
@keyframes blink{
	0% {opacity: 0}
	50% {opacity: 1}
	100% {opacity: 0}
}

#idle{
	animation: updown 1s ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	stroke-width: 10px !important;
	stroke: rgba(0, 0, 0, 0.5);
}
@-moz-document url-prefix() {
    #idle{
    	stroke-width: 0px !important;
    }
}
@keyframes updown{
	0% {stroke-width: 0px}
	50%{stroke-width: 5px}
	100% {stroke-width: 0px}
}