.page-does{
	padding: 70px 30px 0 30px;
	height: 100vh;
	.choice {display: none;}
	#vid {display: block;}
	video{
		width: 100%;
	}
	.videos-container{
		.video{
			background-color: #efefef;
			font-size: 1em;
			font-weight: 700;
			padding: 5px;
			margin: 0 0 30px 0;
			cursor: pointer;
			p{
				margin: 0 0 15px 0;
			}
			img{
				width: 100%;
			}
		}
	}
	.video-player{
		width: 69%;
		display: inline-block;
		border: 5px solid #fff;
		margin-right: 1%;
		iframe{
			width: 100%;
			min-height: 80vh;
		}
	}
	.does{
		// border: 1px solid red;
		width: 29%;
		max-height: 90vh;
		overflow: scroll;
		overflow-x: hidden;
		display: inline-block;
		vertical-align: top;
		padding: 0 15px;
		h3{
			margin-top: 0;
		}
		.special{
			width: 100%;
			display: inline-block;
			video{
				width: 100%;
			}
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				img{
					transition: .3s;
					filter: grayscale(100%);
				}
				&:hover{
					img{
						filter: grayscale(0%);
					}
				}
			}
		}
		.btn-wrapper{
			text-align: center;;
		}
	}
}

@media all and (min-width:1680px){
	.page-does{
		.content{
			padding: 15px;
		}
	}
}