.page-gallery{
	padding-top: 70px;
	img{
		filter: grayscale(100%);
		transition: .1s ease-in-out;
		width: 44.5%;
		&:hover{
			transform: scale(1.1);
			filter: none;
			z-index: 99;
			position: relative;
		}
	}
	.flex-container{
		width: 100%;
		text-align: center;
		// display: flex;
		// flex-wrap: wrap;
		// justify-content: space-around;
		// align-items: top;
		// padding: 30px 0;
	}
}