.login {
	width: 100vw;
	height: 100vh;
	background-image: url("/svg/login.svg");
	background-size: cover;
	.error{
		display: block;
		font-size: 0.8em;
	}
	.container{
		padding: 30px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.9);
	}
	.sub-menu{
		margin-top: 30px;
		font-size: 0.8em;
		text-align: center;
		a{
			color: #333																																																																																																																																													;
			transition: .3s;
			&:hover{
				color: #000;
			}
		}
	}
	.btn-wrapper{
		margin-top: 30px;
		.btn{
			width: 100%;
		}
	}
}

.forgot-pass{
	.container{
		position: absolute;
		left: 50%;
		top: 40%;
		text-align: center;
		transform: translate(-50%, -50%);
	}
	form{
		max-width: 640px;
	}
	input{
		display: block;
		margin: auto;
	}
	.error{
		font-size: 0.8em;
	}
}

.reset-pass{
	.container{
		position: absolute;
		left: 50%;
		top: 40%;
		text-align: center;
		transform: translate(-50%, -50%);
	}
	form{
		max-width: 640px;
	}
	input{
		display: block;
		margin: auto;
	}
	.error{
		font-size: 0.8em;
	}
}
// @media all and (min-width:1200px) and (max-width:1590px){
// 	.login{
// 		.container{
// 			left: 45%;
// 			top: 49%;
// 		}
// 	}
// }


// @media all and (min-width:1600px){
// 	.login{
// 		.container{
// 			left: 40%;
// 			top: 50%;
// 		}
// 	}
// }
