//delete soon
.news-page{
	padding:0;
	width: 83%;
	.header{
		text-align: center;
		width: 100%;
		border-bottom: 10px solid black;
		img{
			margin: 40px 0;
			width: 300px;
			display: inline-block;
		}
		.title{
			display: inline-block;
			text-transform: uppercase;
			font-weight: 700;
			font-family: 'Archivo Black', sans-serif;
			font-size: 5em;
			vertical-align: top;
		}
	}
	.content{
		padding: 15px;
		.container{
			display: flex;
			justify-content: space-between;
			.headline, .other{
				text-align: left !important;
			}
			.headline{
				padding: 15px;
				border: 1px solid black;
				width: 500%;
				text-align: center;
				#output_title{
					font-size: 2em;
					font-weight: 700;
					margin: 15px 0;
				}
				img{
					width: 100%;
					height: auto;
					// display: none;
				}
				iframe{
					width: 100%;
				}
			}
			.other{
				padding: 0 0 0 15px;
				li{
					cursor: pointer;
					list-style-type: none;
					border: 1px solid black;
					width: 100%;
					margin: 30px 0;
					&:nth-child(1){
						margin-top: 0;
					}
					&:hover{
						transform: scale(1.05);
					}
					p{
						margin: 0;
						padding: 15px;
					}
				}
				.title{
					background-color: #000;
					color: #fff;
				}

			}
		}
	}
	::-webkit-scrollbar {
	    width: 0px;
	    background: transparent; /* make scrollbar transparent */
	}
	.sidebar{
		position: fixed;
		right:0;
		top: 0;
		width: 17%;
		height: 100vh;
		.ads{
			width: 100%;
			height: 100px;
			background-color: #eee;
			text-align: center;
			color:#ccc;
		}
		nav{
			padding-top: 100px;
			border:1px solid #eee;
			height: 100%;
			overflow: scroll;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style-type: none;
			border: 1px solid #eee;
			background-color: #fff;
			padding: 15px;
			cursor: pointer;
			width: 100%;
			font-size: 0.7em;
			p{
				margin: 0;
			}
			&:hover{
				background-color: #eee;
			}
		}
	}
}

