.register{
	width: 100vw;
	height: 100vh;
	background-image: url("/svg/register.svg");
	background-size: cover;
	.page-title{
		text-align: left;
	}
	input, select{
		width: 100%;
	}
	.container{
		width: 40%;
		position: absolute;
		left: 50%;
		top: 50%;
		padding: 30px;
		text-align: center;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.7);
	}
	.form-reg{
		display: flex;
		justify-content: space-around;
		position: relative;
		section{
			width: 45%;
		}
	}
	.birthdate-label{
		position: absolute;
		top: -8px;
		font-size: 333;
		font-size: 0.8em;
	}
	form{
		.form-group{
			&:nth-last-child(2){
				margin: 0;
			}
		}
	}
	.error{
		font-size: 0.8em;
	}
}

// @media all and (min-width:1450px) and (max-width:1590px){
// 	.register{
// 		.container{
// 			left: 50%;
// 			top: 50%;
// 		}
// 	}
// }


// @media all and (min-width:1600px){
// 	.register{
// 		.container{
// 			left: 39%;
// 			top: 50%;
// 		}
// 	}
// }
