.room-security{
	position: absolute;
	width: 100%;
	.content{
		min-height: 350px;
		display: none;
		width: 70%;
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 50%);
		z-index: 9;
		text-align: justify;
		padding: 30px;
		background-color: rgba(255, 255, 255, 0.9);
		p{
			&:nth-child(1){
				margin-top: 0;
			}
		}
		.btn{
			position: absolute;
			right: 30px;
			bottom: 30px;
			&:hover{
				background-color: #000;
			}
		}
		#tips{
			left: 210px;
			font-size: 0.6em;
			padding: 3px 5px;
			&:after{
				left: -190%;
			}
		}
	}
	.search-container{
		background-color: rgba(255, 255, 255, 0.95);
		position: absolute;
		left: 30px;
		top: 30px;
		z-index: 9;
		padding: 0 30px;
		max-height: 90vh;
		overflow: scroll;
		overflow-x: hidden;
		display: none;

		input{
			border-radius: 0px;
			padding: 12px;
			width: 100%;
		}
		.btn{
			&:after{
				left: -190%;
			}
			&:hover{
				&:after{
					left: 0;
				}
			}
		}
	}
	.loader{
		svg{
			margin: auto;
		}
	}
	.search-result{
		padding-top: 30px;
		text-align: right;
	}
}

@media all and (min-width:1680px){
	.room-security{ 
		.content #tips{
			display: none !important;
		}
	}
}