.page-studio-visual{
	.main-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		background-color: rgba(255,255,255,0.3);
		width: 90%;
		height: 80vh;
		display: none;
		overflow: hidden;
		.headline{
			padding: 15px;
			.title, .date{
				text-align: center;
			}
			.content{
				max-height: 55vh;
				max-width: 640px;
				margin: auto;
				overflow: scroll;
				overflow-x: hidden;
				padding: 15px;
				background-color: rgba(255,255,255,0.8);
				line-height: 25px;
			}
			img{
				width: 50%;
				height: auto;
			}
		}
	}
	#alldata_trigger{
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	#alldata{
		position: absolute;
		max-width: 235px;
		max-height: 55vh;
		overflow: scroll;
		overflow-x: hidden;
		top: 115px;
		right: -100%;
		background-color: #000;
		color: #fff;
		padding: 15px;
		text-align: right;
		font-size: 0.9em;
		h4{
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	#alldata.show{
		right: 15px;
	}
	#close{
		position: absolute;
	}
}