.page-children{
	.main-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		background-color: rgba(255,255,255,0.3);
		width: 90%;
		height: 80vh;
		display: none;
		overflow: hidden;
		.headline{
			padding: 15px;
			.title, .date{
				text-align: center;
			}
			.content{
				max-height: 55vh;
				max-width: 640px;
				margin: auto;
				overflow: scroll;
				overflow-x: hidden;
				padding: 15px;
				background-color: rgba(255,255,255,0.8);
				line-height: 25px;
				p{
					&:nth-child(1){
						margin-top: 0;
					}
				}
			}
			img{
				width: 50%;
				height: auto;
			}
		}
	}
	#alldata_trigger{
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	#alldata{
		max-width: 235px;
		max-height: 55vh;
		overflow: scroll;
		overflow-x: hidden;
		position: absolute;
		top: 115px;
		font-size: 0.9em;
		right: -100%;
		background-color: #000;
		color: #fff;
		padding: 15px;
		text-align: right;
		h4{
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	#alldata.show{
		right: 15px;
	}
	#close{
		position: absolute;
	}
	#close_fam{
		position: absolute;
		right: 50px;
		&:hover{
			background-color: #000;
		}
	}
	.family-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		display: none;
		width: 90%;
		height: 80vh;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 30px;
		.pic{
			vertical-align: top;
			width: 30%;
			display: inline-block;
			text-align: right;
			img{
				width: 100%;
			}
		}
		.fam-wrapper{
			width: 69%;
			display: inline-block;
			background-color: #FFF;
			padding: 15px;
		}
		.content{
			max-height: 57vh;
			overflow: scroll;
			overflow-x: hidden;
			line-height: 25px;
			padding-right: 15px;
		}
	}
	.video-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		display: none;
		width: 90%;
		height: 80vh;
		background-color: rgba(255, 255, 255, 0.5);
		padding: 30px;
		.videos{
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			iframe{
				height: 80%;
			}
		}
	}
}