.page-event{
	.event{
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: #eee;
		min-height:377px;
		width: 80%;
		z-index: 99;
		.event-page {display:none;}
		#ep3 {display: block;}
		.title{
			width:100%;
			background-color: #ccc;
			margin:0;
			padding:20px 15px;
			text-transform: uppercase;
		}
		.nav{
			width: 20%;
			float: left;
			background-color: #eee;
			ul{
				margin: 0;
				padding: 0;
			}
			li.btn{
				background-color: #ddd;
				padding:15px;
				cursor: pointer;
				font-weight: 100;
				&:hover{
					background-color: #eee;
				}
			}
			li.selected{
				background-color: #FFF;
			}
		}
		.content{
			padding: 30px;
			width:80%;
			float: right;
			background-color: #FFF;	
		}
		#join_event {color:#800000;}
		.event-join {clear: both;}
		#close{
			position: absolute;
			right: 15px;
			top: 10px;
			cursor: pointer;
			font-size: 2em;
		}
	}
}