.page-guest{
	.main-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		background-color: rgba(255,255,255,0.3);
		width: 90%;
		height: 80vh;
		display: none;
		overflow: hidden;
		.headline{
			padding: 15px;
			.title, .date{
				text-align: center;
			}
			.content{
				max-height: 55vh;
				max-width: 640px;
				margin: auto;
				overflow: scroll;
				overflow-x: hidden;
				padding: 15px;
				background-color: rgba(255,255,255,0.8);
				line-height: 25px;
			}
			p{
				&:nth-child(1){
					margin-top: 0;
					text-align: center;
				}
			}
			img{
				width: 50%;
				height: auto;
			}
		}
	}
	#alldata_trigger{
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	#alldata{
		position: absolute;
		top: 115px;
		font-size: 0.9em;
		max-width: 235px;
		max-height: 55vh;
		overflow: scroll;
		overflow-x: hidden;
		right: -100%;
		background-color: #000;
		color: #fff;
		padding: 15px;
		text-align: right;
		h4{
			cursor: pointer;
			&:nth-child(1){
				margin-top: 0;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	#alldata.show{
		right: 15px;
	}
	#close{
		position: absolute;
	}
	.upload-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		background-color: #FFF;
		// width: 90%;
		// height: 85vh;
		display: none;
		overflow: hidden;
		padding: 15px;
	}
	.mirror3d{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		padding: 30px;
		width: initial;
		z-index: 99;
		background-color: #fff;
		display: none;
		.title{
			width:320px;
			height: 320px;
			background: linear-gradient(30deg, #F2994A, #F2C94C);
			color: #fff;
			margin: auto;
			text-align: center;
			padding-top: 140px;
			animation: bgchange 3s;
			animation-iteration-count: infinite;
		}
		@keyframes bgchange{
			0% {background: linear-gradient(30deg, #F2994A, #F2C94C);}
			25% {background: linear-gradient(40deg, #30E8BF, #FF8235);}
			50% {background: linear-gradient(50deg, #FF5F6D, #FFC371);}
			75% {background: linear-gradient(60deg, #FC354C, #0ABFBC);}
			100% {background: linear-gradient(70deg, #FC466B, #3F5EFB);}
		}
	}
}