.page-amphi{
	.main-content{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		background-color: rgba(255,255,255,0.3);
		width: 90%;
		height: 80vh;
		display: none;
		overflow: hidden;
		.headline{
			padding: 15px;
			.title, .date{
				text-align: center;
			}
			.content{
				max-height: 55vh;
				max-width: 640px;
				margin: auto;
				overflow: scroll;
				overflow-x: hidden;
				padding: 15px;
				background-color: rgba(255,255,255,0.8);
				line-height: 25px;
			}
			p{
				&:nth-child(1){
					text-align: center;
				}
			}
			img{
				width: 100%;
				height: auto;

			}
		}
	}
	#alldata_trigger{
		position: absolute;
		bottom: 15px;
		right: 15px;
	}
	#alldata{
		position: absolute;
		top: 115px;
		font-size: 0.8em;
		max-width: 235px;
		max-height: 55vh;
		overflow: scroll;
		overflow-x: hidden;
		right: -100%;
		background-color: #000;
		color: #fff;
		padding: 15px;
		text-align: right;
		h4{
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	#alldata.show{
		right: 15px;
	}
	#close{
		position: absolute;
	}
	.webcam-container{
		padding: 15px;
		display: none;
		position: absolute;
		max-width: 640px;
		background-color: #fff;
		z-index: 99;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		video{
			width: 100%;
		}
	}
	.btn-wrapper{
		margin: 15px 0;
	}
	.blob-container{
		// border: 1px solid black;
		width: 20vw;
		font-size: 0.8em;
		position: fixed;
		left: 100%;
		top: 0;
		ul{
			margin: 0;
			padding: 0 15px;
		}
		li{
			padding: 5px;
			background-color: #fff;
			list-style-type: none;
		}
	}
}