.svg-container{
	max-width: 100%;
	max-height: 100vh;
	overflow: hidden;
	transition: .3s ease-in-out;
	cursor: grab; 
	cursor : -o-grab; 
	cursor : -moz-grab; 
	cursor : -webkit-grab;
	transform: scale(1);
	animation: scaling .7s cubic-bezier(.38,1.19,.79,-0.16);
	&:active{
		cursor: move; 
		cursor : -o-move; 
		cursor : -moz-move; 
		cursor : -webkit-move;
	}
}
.map{
	transform: scale(1);
}
.svg-container.blur{
	filter: grayscale(90%) blur(5px);
}
@keyframes scaling{
	from {transform: scale(0.8); filter: blur(5px);}
	to {transform: scale(1); filter: blur(0);}
}
.room-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .5 !important;
	}
}

.page-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

.cal-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

.fam-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

.guest-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

.children-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

.search-trigger{
	cursor: pointer;
	transition: .1s;
	&:hover{
		opacity: .3 !important;
	}
}

@media all and (min-width:1680px){
	.main-menu-btn .burger{
		background-color: #000 !important;
		&:after, &:before{
			background-color: #000 !important;
		}
	}
	.svg-container{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		animation: none;
		z-index: 1;
		&:before, &:after{
			display: none;
		}
	}
	.cloud{
		z-index: 999;
	}
}