//upgrade
.upgrade{
	padding: 0;
	text-align: center;
	position: fixed;
	width:100vw;
	height:100vh;
	.title{
		margin-top: 0;
		text-transform: uppercase;
		font-family: 'Archivo Black', sans-serif;
	}
	form{
		background:linear-gradient(30deg, #EAD66F, #D0B849);
		border: 3px solid #000;
		padding:15px 15px;	
		border-radius: 10px;
		width: 500px;
		margin: auto;
		margin-top: 200px;
		box-shadow: 0 20px 50px 1px rgba(0,0,0,.1);
		input{
			width: 80%;
			margin:10px 0;
			padding:0 70px;
			cursor: pointer;
			content: 'Upload File'
		}
	}
	.preview{
		ol{padding:0;}
		img{
			max-width: 200px;
			margin:auto;
		}
	}
}