.page-editor{
    padding: 30px;
    height: 75vh;
    max-height: 75vh;
    border: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

.article-info{
    position: absolute;
    color: #aaa;
    right: 5px;
    top: 5px;
}

footer{
    text-align: center;
    padding: 30px;
    position: fixed;
    background-color: #fff;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Alignment styles for images, videos and iframes in editable regions */

/* Center (default) */
[data-editable] iframe,
[data-editable] image,
[data-editable] [data-ce-tag=img],
[data-editable] img,
[data-editable] video {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

/* Left align */
[data-editable] .align-left {
    clear: initial;
    float: left;
    margin-right: 0.5em;
}

/* Right align */
[data-editable].align-right {
    clear: initial;
    float: right;
    margin-left: 0.5em;
}

/* Alignment styles for text in editable regions */
[data-editable] .text-center {
    text-align: center;
}

[data-editable] .text-left {
    text-align: left;
}

[data-editable] .text-right {
    text-align: right;
}
