<article class="main-content" id="maincontent">
	<div class="headline">
		<button class="btn btn1" id="close">kembali</button>
		<h3 class="title" id="title">{{>loader}}</h3>
		<p class="date" id="date"></p>
		<p class="content" id="content"></p>
		<div class="btn-wrapper">
			<button class="btn btn1" id="alldata_trigger">Semua Artikel</button>
		</div>
	</div>
	<div id="alldata"></div>
</article>