<section class="news-page">
	<div class="header">
		<img src="/img/ERIX2.png" alt="Erix Soekamti">
		<h2 class="title">news</h2>
	</div>
	<div class="content">
		<div class="container">
			<div class="headline">
				<div id="output_media"></div>
				<div id="output_title"></div>
				<div id="output_content"></div>
			</div>
			<div class="other" id="others_container"></div>
		</div>
	</div>
	<aside class="sidebar">
		<nav><ul id="nexts"></ul></nav>
	</aside>
</section>