<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="1920"
   height="1080"
   viewBox="0 0 1920 1080"
   id="svg3401"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="calendar.svg">
  <defs
     id="defs3403" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="0.49497475"
     inkscape:cx="1153.4503"
     inkscape:cy="640.40932"
     inkscape:document-units="px"
     inkscape:current-layer="layer2"
     showgrid="false"
     units="px"
     inkscape:snap-bbox="true"
     inkscape:bbox-nodes="true"
     inkscape:object-nodes="true" />
  <metadata
     id="metadata3406">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,27.637839)" />
  <g
     inkscape:groupmode="layer"
     id="layer2"
     inkscape:label="trigger">
    <g
       id="g4468">
      <rect
         y="222.20116"
         x="466.99686"
         height="636.15747"
         width="986.00629"
         id="rect3441"
         style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#666666;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         transform="translate(0,27.637839)" />
      <text
         transform="matrix(1.0000221,0,0,0.99997793,0,27.637839)"
         sodipodi:linespacing="125%"
         id="text3435"
         y="208.17168"
         x="462.88864"
         style="font-style:normal;font-weight:normal;font-size:43.99086761px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#808080;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         xml:space="preserve"><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Ubuntu Condensed';-inkscape-font-specification:'Ubuntu Condensed, ';letter-spacing:2.41602683px;fill:#808080"
           y="208.17168"
           x="462.88864"
           id="tspan3437"
           sodipodi:role="line">FEBRUARI 2018</tspan><tspan
           style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:'Ubuntu Condensed';-inkscape-font-specification:'Ubuntu Condensed, ';letter-spacing:2.41602683px;fill:#808080"
           id="tspan3439"
           y="276.45145"
           x="462.88864"
           sodipodi:role="line" /></text>
      <g
         style="stroke:#808080;stroke-width:1.24170816"
         transform="matrix(0.80536003,0,0,0.80532448,310.41959,73.732084)"
         id="g4340">
        <g
           style="stroke:#808080;stroke-width:1.24170816"
           id="g4267">
          <rect
             y="308.07645"
             x="298.57144"
             height="121.42857"
             width="144.28572"
             id="rect4243"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4245"
             width="144.28572"
             height="121.42857"
             x="443.85718"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4247"
             width="144.28572"
             height="121.42857"
             x="589.14288"
             y="308.07645" />
          <rect
             y="308.07645"
             x="734.42865"
             height="121.42857"
             width="144.28572"
             id="rect4249"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4251"
             width="144.28572"
             height="121.42857"
             x="879.71436"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4263"
             width="144.28572"
             height="121.42857"
             x="1025.0001"
             y="308.07645" />
          <rect
             y="308.07645"
             x="1170.2858"
             height="121.42857"
             width="144.28572"
             id="rect4265"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
        </g>
        <g
           style="stroke:#808080;stroke-width:1.24170816"
           id="g4276"
           transform="translate(0,122.42857)">
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4278"
             width="144.28572"
             height="121.42857"
             x="298.57144"
             y="308.07645" />
          <rect
             y="308.07645"
             x="443.85718"
             height="121.42857"
             width="144.28572"
             id="rect4280"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="308.07645"
             x="589.14288"
             height="121.42857"
             width="144.28572"
             id="rect4282"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4284"
             width="144.28572"
             height="121.42857"
             x="734.42865"
             y="308.07645" />
          <rect
             y="308.07645"
             x="879.71436"
             height="121.42857"
             width="144.28572"
             id="rect4286"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="308.07645"
             x="1025.0001"
             height="121.42857"
             width="144.28572"
             id="rect4288"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4290"
             width="144.28572"
             height="121.42857"
             x="1170.2858"
             y="308.07645" />
        </g>
        <g
           style="stroke:#808080;stroke-width:1.24170816"
           transform="translate(0,244.85714)"
           id="g4292">
          <rect
             y="308.07645"
             x="298.57144"
             height="121.42857"
             width="144.28572"
             id="rect4294"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4296"
             width="144.28572"
             height="121.42857"
             x="443.85718"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4298"
             width="144.28572"
             height="121.42857"
             x="589.14288"
             y="308.07645" />
          <rect
             y="308.07645"
             x="734.42865"
             height="121.42857"
             width="144.28572"
             id="rect4300"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4302"
             width="144.28572"
             height="121.42857"
             x="879.71436"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4304"
             width="144.28572"
             height="121.42857"
             x="1025.0001"
             y="308.07645" />
          <rect
             y="308.07645"
             x="1170.2858"
             height="121.42857"
             width="144.28572"
             id="rect4306"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
        </g>
        <g
           style="stroke:#808080;stroke-width:1.24170816"
           id="g4308"
           transform="translate(0,367.28571)">
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4310"
             width="144.28572"
             height="121.42857"
             x="298.57144"
             y="308.07645" />
          <rect
             y="308.07645"
             x="443.85718"
             height="121.42857"
             width="144.28572"
             id="rect4312"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="308.07645"
             x="589.14288"
             height="121.42857"
             width="144.28572"
             id="rect4314"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4316"
             width="144.28572"
             height="121.42857"
             x="734.42865"
             y="308.07645" />
          <rect
             y="308.07645"
             x="879.71436"
             height="121.42857"
             width="144.28572"
             id="rect4318"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             y="308.07645"
             x="1025.0001"
             height="121.42857"
             width="144.28572"
             id="rect4320"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4322"
             width="144.28572"
             height="121.42857"
             x="1170.2858"
             y="308.07645" />
        </g>
        <g
           style="stroke:#808080;stroke-width:1.24170816"
           transform="translate(0,489.71428)"
           id="g4324">
          <rect
             y="308.07645"
             x="298.57144"
             height="121.42857"
             width="144.28572"
             id="rect4326"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4328"
             width="144.28572"
             height="121.42857"
             x="443.85718"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4330"
             width="144.28572"
             height="121.42857"
             x="589.14288"
             y="308.07645" />
          <rect
             y="308.07645"
             x="734.42865"
             height="121.42857"
             width="144.28572"
             id="rect4332"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4334"
             width="144.28572"
             height="121.42857"
             x="879.71436"
             y="308.07645" />
          <rect
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
             id="rect4336"
             width="144.28572"
             height="121.42857"
             x="1025.0001"
             y="308.07645" />
          <rect
             y="308.07645"
             x="1170.2858"
             height="121.42857"
             width="144.28572"
             id="rect4338"
             style="opacity:1;fill:none;fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:1.24170816;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
        </g>
      </g>
      <path
         class="cal-trigger"
         inkscape:connector-curvature="0"
         id="ev1"
         d="m 784.08634,321.8336 234.01466,0 0,98.59472 -234.01466,0 z"
         style="opacity:1;fill:#b3b3b3;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
      <path
         class="cal-trigger"
         inkscape:connector-curvature="0"
         d="m 550.87708,419.62298 818.24592,0 0,99.40005 -818.24592,0 z m 585.03662,2e-5 233.2093,0 0,-97.78939 -233.2093,0 z"
         style="opacity:1;fill:#999999;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         id="ev2" />
      <path
         class="cal-trigger"
         inkscape:connector-curvature="0"
         id="ev3"
         d="m 1135.1084,616.81243 117.0074,0 0,98.59473 -117.0074,0 z"
         style="opacity:1;fill:#666666;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" />
    </g>
  </g>
</svg>
