<div class="page-comson"></div>
<div class="clouds">
	<div class="wrap">
		<h1 class="title"><b>coming</b> soon</h1>
		<p>Website Pribadi <b>Erix Soekamti</b> akan segera dirilis</p>
	</div>
	<img id="cld" src="/img/awan.png" alt="">
</div>