{{> backtomain}}
</a>
<div class="page-does">
	<div class="video-player" id="video_player">
		<div class="choice" id="yt">
			{{!-- <iframe src="https://www.youtube.com/embed/HLOGci-EaQI?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> --}}
		</div>
		<div class="choice" id="vid">
			<video id="sVid" src="/video/soekamtiland.mp4" volume="0.3" controls>
				<source src="movie.mp4" type="video/mp4">
				<source src="movie.ogg" type="video/ogg">
				Browser kamu tidak bisa memutar video ini. Silahkan gunakan Chrome/Mozilla versi terbaru.
			</video>
		</div>
	</div>
	<aside class="does">
		<div class="special" id="special">
			<h3>Spesial Februari</h3>
			<div>
				<video src="/video/soekamtiland.mp4">
					Browser kamu tidak bisa memutar video ini. Silahkan gunakan Chrome/Mozilla versi terbaru.
				</video>
			</div>
		</div>
		<h1>Diary of Erix Soekamti</h1>
		<i>Episode Terbaru</i>
		<ul class="videos-container" id="videos_container">
			
		</ul>
		<div class="btn-wrapper">
			{{!-- <button class="btn btn1">lihat semua</button> --}}
		</div>
	</aside>
</div>