<div class="error-page">
	<h4>Error status:</h4>
	<h1 class="code">{{ error.status }}</h1>

	<h4>Message:</h4>
	<p>Page {{ message }}</p>


	<h4>Error stack:</h4>
	<p>{{ error.stack }}</p>
</div>