<div class="cloud">
	<div class="container" id="brand_container">
	  {{> about}}
	  <img id="brand_img" src="/img/ERIX.png" alt="Erix Soekamti" draggable="false">
	  <a href="#"><button class="btn btn2" id="toggle_cloud_about">tentang situs</button></a>
	  <a href="/login"><button class="btn btn2">login</button></a>
	  <a href="/register"><button class="btn btn2">register</button></a>
	</div>
	<p class="cloud-footer">Dikembangkan oleh <a href="http://doesuniversity.com">Does University</a></p>
</div>
<div class="svg-container dragscroll">
	<div class="map">
		{{> map}}
	</div>	
</div>