<section class="reset-pass">
	<div class="container">
		<form action="" id="form_resetpass">
			<h2 class="title">Kata Sandi Baru</h2>
			{{!-- <p><i>Sik sik, isi emailmu dulu. Nanti tak kirim cara ganti password.</i></p> --}}
			<input style="display:none" name="id" class="hidden" value="{{resetcode}}">
			<div class="form-group">
		        <input type="password" id="password" name="password" placeholder="Kata Sandi" autofocus>
		    </div>
		    <div class="form-group">
		        <input type="password" name="password_confirm" placeholder="Konfirmasi Kata Sandi">
		    </div>
		    <br>
		    <div class="form-group">
			    <button class="btn btn1" id="submit_resetpass">kirim</button>
		    </div>
		</form>
	</div>
</section>