<section class="forgot-pass">
	<div class="container">
		<form action="" id="form_forgotpass">
			<h2 class="title">lupa kata sandi?</h2>
			{{!-- <p><i>Sik sik, isi emailmu dulu. Nanti tak kirim cara ganti password.</i></p> --}}
			<div class="form-group">
		        <input type="email" id="" name="email" placeholder="Email"autofocus>
		    </div>
		    <br>
		    <div class="form-group">
			    <button class="btn btn1" id="submit_forgotpass">kirim</button>
		    </div>
		</form>
	</div>
</section>