<section class="login">
	<div class="container">
		<h2 class="page-title">login</h2>
	    <form id="form_login">
	        <div class="form-group">
	            <input onclick="this.focus()" type="email" id="emailLogin" name="email" placeholder="Email"autofocus>
	        </div>
	        <div class="form-group">
	            <input onclick="this.focus()" type="password" name="password" placeholder="Kata Sandi">
	        </div>
	        <div class="form-group btn-wrapper">
	            <button class="btn btn1" type="button" id="submit_login">masuk</button>
	        </div>
	        <section class="sub-menu">
	            <a href="/register">Register</a>
	            <i style="color:grey"> | </i>
	            <a href="/forgot_pass">Lupa Kata Sandi</a>
	        </section>
	    </form>
	</div>
</section>

