<section class="register">
    <div class="container">
        <h2 class="page-title">siapa ya?</h2>
        <form id="form_reg" class="form-reg">
            <section>
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Nama" required autofocus>
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Kata Sandi" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="number" name="phone" placeholder="Nomor HP" value="">
                </div>
                <div class="form-group">
                    <input type="text" name="interest"  placeholder="Minat" required>
                </div>
                <div class="form-group">
                    <input type="text" name="profession"  placeholder="Profesi" required>
                </div>
            </section>
            {{!-- <input type="text" id="username" name="username" placeholder="Username" required autofocus>
            <br> --}}
            
            <section>
                <div class="form-group">
                    <label class="birthdate-label" for="birthdate">Tanggal Lahir:</label>
                    <input id="birthdate" type="date" name="birthdate" placeholder="Tanggal Lahir" required>
                </div>
                <div class="form-group">
                    <input type="text" name="street" placeholder="Alamat" required>
                </div>
                <div class="form-group">
                    <select class="demo-btn" name="province" id="regProvince">
                        <option value="">Provinsi</option>
                    </select>
                    <div id="regProvinceName" class="hide"></div>
                </div>
                <div class="form-group">
                    <select class="demo-btn" name="city" id="regCity">
                        <option value="">Kota</option>
                    </select>
                    <div id="regCityName" class="hide"></div>
                </div>
                {{!-- <br>
                <input type="number" name="idcard" placeholder="Id Card">
                <br>
                <div>
                    <label for="photo">Foto</label>
                    <input type="file" name="photo" placeholder="Foto">
                </div><br> --}}
                <br>
                <div class="form-group">
                    <button class="btn btn1" type="button" id="submit_reg">Aku <span id="nama"></span>, mas.</button>
                </div>
            </section>
        </form>
    </div>
</section>

<div id="checkuseratregister"></div>