<div class="page-children">
	{{> maincontent}}
	<article class="family-content" id="familycontent">
		<span class="pic" id="fam_pic">{{> loader}}</span>
		<div class="fam-wrapper">
			<button class="btn btn1" id="close_fam">kembali</button>
			<h1 class="title" id="fam_title"></h1>
			<p class="content" id="fam_content">{{> loader}}</p>
		</div>
	</article>
	<div class="video-content" id="videocontent">
		<button class="btn btn1" id="close_vid">kembali</button>
		<div class="videos">
			<iframe src="https://www.youtube.com/embed/fGxI2bESYe0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<iframe src="https://www.youtube.com/embed/x009pIAjIrk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<iframe src="https://www.youtube.com/embed/K1JfAvEvkpY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_children}}
	</div>	
</div>