{{> backtomain}}

<div class="page-event">
	<article class="event">
		<article class="">
			<h1 class="title" id="title">ROADSHOW SALAM INDONESIA - HOMECOMING</h1>
			<span id="close">&#x2715</span>
			<nav class="nav">
				<ul>
					<li class="btn" id="e1">About</li>
					<li class="btn" id="e2">Venue</li>
					<li class="btn" id="e3">Schedule</li>
					<li class="btn" id="e4">Speakers</li>
					<li class="btn" id="e5">Gallery</li>
					<li class="btn" id="e6">Details</li>
					{{!-- <li class="btn" id="join_event">Join</li> --}}
				</ul>
			</nav>
			<section class="content">
				<section class="event-page" id="ep1">
					{{!-- About --}}
				</section>
				<section class="event-page" id="ep2">
					{{!-- Venue --}}
				</section>
				<section class="event-page" id="ep3">
					{{!-- Schedule --}}
				</section>
				<section class="event-page" id="ep4">
					{{!-- Speakers --}}
				</section>
				<section class="event-page" id="ep5">
					{{!-- Gallery --}}
					<img src="" alt="-">
				</section>
				<section class="event-page" id="ep6">
					{{!-- Details --}}
					Info lebih jauh dan pendaftaran bisa dilakukan dengan  menghubungi <b>Masayu</b> via WA di nomer <b>+62 821-3333-4441</b>
					<br>
					Terima kasih, sampai jumpa, dan Salam Indonesia!!!
				</section>
			</section>
		</article>
		{{!-- <article class="event-join">
			<h3 class="title">Join</h3>
			<form id="form_ev">
				<input type="text" name="valid" placeholder="process validation"> <button type="submit" id="submit_ev">Process</button>
			</form>
		</article> --}}
	</article>
</div>

<div class="svg-container svg-container-event dragscroll"> 
	<div class="map">
		{{> room_main_event}}
	</div>	
</div>