{{> backtomain}}
<section class="room-guestbook">
	<script src="https://use.fontawesome.com/7081ca88be.js"></script>
	<div class="editor-wrapper">
		<h1>Buku Tamu</h1>
		<header>
			<p>Silahkan kirim kritik yang membangun untuk pengembangan website ini.</p>
			<div class="menu">
			  	<div class="group">
			  		<span class="item" id="bold"><i class="fa fa-bold" ></i></span>
			  		<span class="item" id="italic"><i class="fa fa-italic" ></i></span>
			  		<span class="item" id="underline"><i class="fa fa-underline" ></i></span>
				  {{!-- <span id="removeAllFormatting">Remove formatting</span> --}}
				  {{!-- <span id="setFontSize" class="prompt">Font size</span> --}}
				  {{!-- <span id="setFontFace" class="prompt">Font face</span> --}}
				</div>
				{{!-- <p> --}}
				  {{!-- <span id="setTextColour" class="prompt">Text colour</span> --}}
				  {{!-- <span id="setHighlightColour" class="prompt">Text highlight</span> --}}
				  {{!-- <span id="makeLink" class="prompt">Link</span> --}}
				{{!-- </p> --}}
				<div class="group">
				    {{!-- <span id="makeHeader">Make Header</span>
				    <span id="increaseQuoteLevel">Quote</span>
				    <span id="decreaseQuoteLevel">Dequote</span>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <span id="makeUnorderedList">List</span>
				    <span id="removeList">Unlist</span>
				    <span id="increaseListLevel">Increase list level</span>
				    <span id="decreaseListLevel">Decrease list level</span>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <span id="insertImage" class="prompt">Insert image</span>
				  <span id="setHTML" class="prompt">Set HTML</span>
				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; --}}
				  <span class="item" id="undo"><i class="fa fa-undo" ></i></span>
				  <span class="item" id="redo"><i class="fa fa-undo flip" ></i></span>
			  	</div>
			</div>
		</header>
		<div id="editor"></div>
		<div class="btn-wrapper">
			<button class="btn btn1" id="submit_editor">Kirim</button>
		</div>
	</div>
</section>