<div class="page-garage">
	{{> maincontent}}
	<article class="gallery" id="garage_content">
		<div class="btn-wrapper">
			<button class="btn btn2" id="close_gallery">kembali</button>
		</div>
		<div class="flex-container" id="gallery_container">
			
		</div>
	</article>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_garage}}
	</div>	
</div>