<div class="page-family">
	{{> maincontent}}
	<article class="family-content" id="familycontent">
		
	</article>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_family}}
	</div>	
</div>