<div class="page-amphi">
	{{> maincontent}}
	<div class="webcam-container" id="webcam_container">
		<div class="video">
			<device type="media" onchange="update(this.data)"></device>
			<video autoplay></video>
		</div>
		<div class="btn-wrapper">
			<button class="btn btn1" id="reset_rec">reset</button>
			<button class="btn btn1" id="start_rec">start</button>
			<button class="btn btn1" id="stop_rec" disabled>stop</button>
		</div>
		<span id="timer"></span>
		<div class="blob-container">
			<ul id="blob_container">
				
			</ul>
		</div>
	</div>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_amphi}}
	</div>	
</div>