<section class="room-security">
	<div class="content" id="maincontent">
			<p>Selain berisi konten-konten tentang Erix Soekamti, kesehariannya, keluarganya, teman-temannya, idealismenya, dan sebagainya, di sini kita juga bisa berinteraksi, saling berbagi, bermain, dan melakukan banyak hal bermanfaat lainnya.</p>
			<p>Ada beberapa model pengunjung di sini:</p>
			<ol>
				<li><b>TAMU</b>: yang hanya bisa mengakses apa yang tersedia di <a href="/main">ruang tamu</a>.</li>
				<li><b>TEMAN</b>: Bisa masuk dan bermain di dalam rumah.</li>
				<li><b>SOULMATE</b>: Bebas mengakses ruangan-ruangan yang ada.</li>
				<li><b>FAMILY</b>: Yang namanya keluarga, tentunya selain bebas bermain, juga bisa masuk ke sebuah <b>Tempat Rahasia</b>.</li>
				<li><b>SETAN</b>: Kamu nggak bisa ngapa-ngapain, karena seluruh ruangan ini sudah di steril dari segala roh jahat.</li>
			</ol>
			<p>Silakan bermain di seluruh ruangan yang ada di sini. Kalian tinggal klik ruangan-ruangan yang ada di peta, dan bersenang-senanglah.</p>
			<button class="btn btn1" id="tips">tips</button>
			<br>
			<strong>Selamat Berpetualang!</strong>
			<button class="btn btn1" id="close">YEAH!</button>
	</div>
	<div class="search-container">
		<div class="form-group">
			<p>Masukkan kata kunci:</p>
		</div>
		<input type="text" placeholder="contoh: Erix" id="search_this">
		<div class="form-group">
			<button class="btn btn1" id="search_on_site">cari</button>
		</div>
		<div class="search-result" id="search_result"></div>		
	</div>
</section>

<div class="svg-container dragscroll">
	<div class="map">
		{{> room_security}}
	</div>	
</div>