<div class="page-office">
	{{> maincontent}}
	<div class="office-content" id="contact">
		<p>Untuk kerjasama silahkan hubungi:</p>
		<p><b>+6281 8468 932</b></p>
		<p>erixsoekamti@me.com</p>
	</div>
	<div class="office-content" id="doesuniv">
		<img src="/img/doesuniv.jpg" alt="Does University">
		<p>DOES University adalah sekolah bakat yang hanya mengajarkan apa yang disukai para siswa sesuai minat dan bakat yang dimiliki siswa tersebut. Sistem belajar mengajar dilakukan dengan metode karantina selama masa belajar.</p>
		<a href="http://doesuniversity.com">Does University Official Website</a>
	</div>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_office}}
	</div>	
</div>