<div class="page-guest">
	{{> maincontent}}
	<article class="upload-content" id="upload_popup">
		<p>Kirim karya tulis atau ide yang ingin kamu bagikan.</p>
		<textarea name="" id="upload_content" cols="50" rows="10"></textarea>
		<div class="form-group">
			<button class="btn btn1" id="upload">kirim</button>
		</div>
	</article>
	<div class="object mirror3d" id="profile_container">
		<h2 class="title" id="user_name">Username</h2>
		<p>tanggal join membership: <span id="user_reg_date">00/00/00</span></p>
		<p>
			kamu bisa menikmati akses <span id="user_role">ini</span> <br> sampai
			<span class="bold" id="user_exp_date">00/00/00</span>
		</p> 
	</div>
</div>

<div class="svg-container dragscroll"> 
	<div class="map">
		{{> room_guest}}
	</div>	
</div>