<section class="upgrade">
    <form enctype="multipart/form-data" id="form_upgrade">
        <h2 class="title">upgrade</h2>
        <label for="evidence">Silahkan upload bukti transfer</label>
        <input name="file" id="evidence" style="text-align:center" type="file">
        <br>
        <div class="preview">
        	<i>No files currently selected for upload</i>
        </div>
		<input name="id" type="text" class="hide" id="upgrade_id" value="{{upgradecode}}">
        <button class="btn btn1" type="button" id="submit_upgrade">Upload</button>
    </form>
</section>
<script type="text/javascript">
	
	var input = document.querySelector('#evidence');
	var preview = document.querySelector('.preview');

	input.style.opacity = 1;input.addEventListener('change', updateImageDisplay);function updateImageDisplay() {
	  while(preview.firstChild) {
	    preview.removeChild(preview.firstChild);
	  }

	  var curFiles = input.files;
	  if(curFiles.length === 0) {
	    var para = document.createElement('p');
	    para.textContent = 'No files currently selected for upload';
	    preview.appendChild(para);
	  } else {
	    var list = document.createElement('ol');
	    preview.appendChild(list);
	    for(var i = 0; i < curFiles.length; i++) {
	      var listItem = document.createElement('li');
	      var para = document.createElement('p');
	      if(validFileType(curFiles[i])) {
	        para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
	        var image = document.createElement('img');
	        image.src = window.URL.createObjectURL(curFiles[i]);

	        listItem.appendChild(image);
	        listItem.appendChild(para);

	      } else {
	        para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
	        listItem.appendChild(para);
	      }

	      list.appendChild(listItem);
	    }
	  }
	}var fileTypes = [
	  'image/jpeg',
	  'image/pjpeg',
	  'image/png'
	]

	function validFileType(file) {
	  for(var i = 0; i < fileTypes.length; i++) {
	    if(file.type === fileTypes[i]) {
	      return true;
	    }
	  }

	  return false;
	}function returnFileSize(number) {
	  if(number < 1024) {
	    return number + 'bytes';
	  } else if(number > 1024 && number < 1048576) {
	    return (number/1024).toFixed(1) + 'KB';
	  } else if(number > 1048576) {
	    return (number/1048576).toFixed(1) + 'MB';
	  }
	}

</script>