<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans:300" rel="stylesheet">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
</head>
<body>

  {{{body}}}
  
  <div id="onmobile">erixsoekamti.com hanya tersedia dalam versi desktop</div>
	
	<script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/dragscroll/dragscroll.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/config.js"></script>
	{{{scripts}}}
  <script src="/js/main.js"></script>
  </body>
</html>
