<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/assets/content-tools.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/editor.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans:300" rel="stylesheet">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
</head>
<body>

  <header>
    {{!-- global alert --}}
    <div class="alert" id="flashMessage"></div>

    {{!-- trigger --}}
    <a class="to-main-trigger" href="/guest" id="tm"><img id="tm_img" src="/img/back1.png" alt="kembali ke ruang tamu"></a>
    <p class="trigger-info back-trigger-info">kembali ke halaman sebelumnya</p>
    <div class="main-menu-trigger map-trigger" id="map_trigger">
      <a href="/" id="map_link"><img id="map_trigger_img" src="/img/back.png" alt="kembali ke peta"></a> 
    </div>
    <p class="trigger-info map-trigger-info">kembali ke peta</p>  
    <div class="main-menu-trigger logout-trigger" id="logout_trigger">
      <img id="logout" src="/img/logout.png" alt="logout">
    </div>
    <p class="trigger-info logout-trigger-info">logout</p>
  </header>
  
  <main class="page-editor" id="pageEditor">
    <div class="article-info">
      <i id="article_info"></i>
      <input type="text" id="subject" placeholder="Subjek">
    </div>
    {{{body}}}
  </main>

  <footer>
    <button class="btn btn1" id="send_content">kirim</button>    
  </footer>
  
  <div id="onmobile">erixsoekamti.com hanya tersedia dalam versi desktop</div>
	
	<script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/assets/content-tools.min.js"></script>
  <script src="/assets/editor.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/config.js"></script>
	{{{scripts}}}
  <script src="/js/main.js"></script>
  </body>
</html>
