<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Open+Sans:300" rel="stylesheet">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
  <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
</head>
<body class="">
  {{!-- global alert --}}
  <div class="alert" id="flashMessage"></div>

  {{!-- global message --}}
  <div class="" id="flashInfo"><i>flashinfo</i></div>

  {{!-- trigger --}}
	<div class="main-menu-trigger map-trigger" id="map_trigger">
    <a href="/" id="map_link"><img id="map_trigger_img" src="/img/back.png" alt="kembali ke peta"></a> 
  </div>
  <p class="trigger-info map-trigger-info">kembali ke peta</p>  
  <div class="main-menu-trigger logout-trigger" id="logout_trigger">
    <img id="logout" src="/img/logout.png" alt="logout">
  </div>
  <p class="trigger-info logout-trigger-info">logout</p>  

  {{!-- loading page --}}
  <div id="loader">
    <h2 class="title text-center"><br>Mohon tunggu sebentar, sedang memuat halaman... <br>
      <span id="load_progress"></span>
    </h2>
  </div>

  {{{body}}}

  <div class="zoom-trigger">
    <div class="icon" id="zoomIn">
      <img src="/img/icon/zoomin.png" alt="zoom in">
    </div>
    <div class="icon" id="zoomOut">
      <img src="/img/icon/zoomout.png" alt="zoom out">
    </div>
  </div>
  
  {{!-- on mobile --}}
  <div id="onmobile">erixsoekamti.com hanya tersedia dalam versi desktop</div>
	
  {{!-- browser recommend --}}
  <div class="browser-alert">
    <p class="alert-desc">Untuk kenikmatan maksimal silahkan gunakan browser <b>Google Chrome</b> :)</p>
    <span class="close-alert" id="closeAlert">&#x2715</span>
  </div>

	<script src="/components/jquery/dist/jquery.min.js"></script>
  <script src="/components/dragscroll/dragscroll.js"></script>
	<script src="/js/config.js"></script>
  <script src="/js/app.js"></script>
	{{{scripts}}}
  <script src="/js/main.js"></script>
  </body>
</html>
